<!-- <mat-form-field appearance="outline">

  <mat-label>Board auswählen</mat-label>
  <mat-select [(value)]="selected" (selectionChange)="selectionEvent($event)">
    @for (board of boardList$ | async; track board) {
    <mat-option [value]="board">{{ board.title }}</mat-option>
    }
  </mat-select>
</mat-form-field> -->

<div>

  @if (boardList.length > 0) {
    <select class="board-select" matNativeControl (change)="getSelectedBoard($event)">
      <!-- @for (board of boardList$ | async; track board) { -->
      @for (board of boardList; track board) {
      <option [value]="board.id" [selected]="selected.id == board.id">{{ board.title }}</option>
      }
    </select>

    <button mat-stroked-button (click)="deleteBoard()"><mat-icon>delete</mat-icon> Board Löschen</button>
  }

</div>