<div class="board">
    @for (collection of collections; track collection) {
    <div class="column">
        <div class="column-name">{{ collection.id }}</div>
        <div cdkDropList id="{{collection.id}}" [cdkDropListData]="collection.tasks"
            [cdkDropListConnectedTo]="connectedTo" class="task-list" (cdkDropListDropped)="drop($event)">
            @for (task of collection.tasks; track task) {
            <div class="task" [cdkDragData]="task" cdkDrag>
                <div class="placeholder" *cdkDragPlaceholder></div>
                {{ task.name }}
            </div>
            }
        </div>
    </div>
    }
</div>