<div class="board" cdkDropListGroup>

    @for (collection of collections; track collection) {

        <div class="column">

            <div class="column-name">{{ collection.title }} id: {{ collection.id }} <button class="delete" (click)="deleteCollection(collection.id)">löschen</button></div>
            
            <div class="task-list" id="{{ collection.id }}" cdkDropList [cdkDropListData]="collection.task" (cdkDropListDropped)="drop($event)">

                <app-create-task-inline [collectionId]="collection.id" (newTaskEvent)="getBoards()"></app-create-task-inline>

                @for (task of collection.task; track task) {

                    <div class="task" [cdkDragData]="task" cdkDrag>
                        <div class="placeholder" *cdkDragPlaceholder></div>
                        {{ task.title }} <button class="delete" (click)="deleteTask(task.id)">löschen</button>
                    </div>

                }

            </div>
        </div>

    }

    <div class="column">
        <div class="create-wrapper">
            <input [(ngModel)]="newColumnName" (keydown.enter)="createCollection()" class="column-input" type="text" placeholder="Spalte hinzufügen" />
            
            @if (newColumnName.length > 0) {
                <button class="create-button" (click)="createCollection()">Speichern</button>
            }
        </div>
    </div>

</div>

<!-- <div>
    <select>
        @for (board of boards$ | async; track $index) {
        <option>{{ board.title }}</option>
        }
    </select>
</div> -->

<!-- CREATE BOARD FORM
<div>
    <form (ngSubmit)="onSubmit()" #boardForm="ngForm">
        <h2>Create New Board</h2>
        <input type="text" [(ngModel)]="boardDto.title" placeholder="Title" name="title">
        <input type="text" [(ngModel)]="boardDto.description" placeholder="Description" name="description">
        <button class="bg-slate-50 rounded-lg p-2" type="submit">Save</button>
    </form>
</div>
-->
<!--
<div class="grid grid-flow-col auto-cols-max w-full">
    @for (collection of collectionList$ | async; track $index) {
        <app-collection
            [collection]="collection"
            cdkDropList
            id="{{ collection.id }}"
            [cdkDropListData]="collection"
            >
        </app-collection>
    } @empty {
        noch keine Spalten angelegt
    }
</div>
-->