.board {
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    max-width: 100%;
    overflow: auto;
    height: calc(100vh - 64px);
    background-image: url(/assets/fuji.webp);
    background-size: cover;
    background-position-y: center;
}

.column {
    flex: 0 0 auto;
    width: 20em;
    background-color: #ffffff40;
    padding: 1em;
    border-radius: 12px;
    backdrop-filter: blur(10px);
}

.column-name {
    font-weight: bold;
    margin-bottom: 1rem;
    border-bottom: 1px solid darkgray;
    padding-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.column-name:hover .delete {
    visibility: visible;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    min-height: 2em;
}

.task {
    min-height: 4em;
    padding: 1em;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    cursor: grab;
}

.placeholder {
    min-height: 4em;
    padding: 1em;
    border-radius: 8px;
    background: white;
    border: dotted 2px #cecece;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

/* .cdk-drag:active {
    cursor: grabbing;
} */

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-list.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Create Column */
.create-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.column-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 8px;
    background-color: white;
}

.create-button {
    width: fit-content;
    background-color: #88A5BF;
    color: white;
    border-radius: 8px;
    padding: 0.25em;
}

.delete {
    visibility: hidden;

}

.task:hover .delete {
    visibility: visible;
}

/*  */