<div class="board" cdkDropListGroup>

    @if (board$ | async; as board) {

        @for (collection of board.collectionList; track collection) {

        <div class="column">

            <div class="column-name">
                {{ collection.title }}
                <button mat-icon-button class="delete" (click)="confirmDeleteDialog(board.id, collection.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

            <div class="task-list" id="{{ collection.id }}" cdkDropList [cdkDropListData]="collection.tasks"
                (cdkDropListDropped)="drop($event)">

                <app-create-task-inline [collectionId]="collection.id"
                    (newTaskEvent)="getBoardById(board.id)"></app-create-task-inline>

                @for (task of collection.tasks; track task) {

                <div class="task" [cdkDragData]="task" cdkDrag>
                    <div class="placeholder" *cdkDragPlaceholder></div>
                    {{ task.title }}
                    <button mat-icon-button class="delete" (click)="deleteTask(task.id, board.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                }

            </div>
        </div>

        }

        @if (board.id) {
            <div class="column">
                <div class="create-wrapper">
                    <input [(ngModel)]="newColumnName" (keydown.enter)="createCollection(board.id)" class="column-input" type="text"
                        placeholder="Spalte hinzufügen" />
        
                    @if (newColumnName.length > 0) {
                        <button class="create-button" (click)="createCollection(board.id)">Speichern</button>
                    }
                </div>
            </div>
        } @else {
            <div class="column">
                <div class="create-wrapper">
                    <h1>Erstelle dein erstes Board</h1>
                </div>
            </div>
        }
    }
</div>